h1 {
	color: blueviolet;
	text-align: center;
}

span {
	cursor: pointer;
}

.alphabet {
	padding: 4px;
}

.inputBtn {
	background-color: chocolate;
}

.winElement {
		color: blueviolet;
}

.rules {
		float: right;
}

.selectHtml {
	color: blueviolet;
}

.numberOfWrongGuesses {
	color: blueviolet;
}

#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 400px;
	width: 500px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
}

#close {
	border: solid;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 45px;
	}
	.selectHtml {
		font-size: 20px;
	}
	.numberOfWrongGuesses {
		font-size: 20px;
	}
}

@media only screen and (min-width: 600px) {
	h1 {
		font-size: 55px;
	}
	.selectHtml {
		font-size: 30px;
	}
	.numberOfWrongGuesses {
		font-size: 30px;
	}
}

@media only screen and (min-width: 768px) {
	select {
		height: 30px;
		font-size: 25px;
	}
	.alphabet {
		width: 40px;
	}
	.inputBtn {
		font-size: 25px;
	}
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}